<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Would you rather have as a pet...</h3>
  </div>
  <div class="panel-body">
    <p>
      <%= question.description %>
    </p>
    <div class="col-md-6">
      <% question.answers.each do |answer| %>
      <div class="col-md-4">
        <%= render 'votes/form', answer: answer %>
        <h1 id=<%="answer-#{answer.id}-vote-count"%>><%= answer.vote_count %></h1>
      </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render 'comments/form', question: question %>
      <div id="comments-about-<%=question.id%>" class="comments">
        <%= render question.comments.order(created_at: :desc) %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_question_path(question), id: "edit-question-#{question.id}" %>
  </div>
</div>
