<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Would you rather have as a pet...</h3>
  </div>
  <div class="panel-body">
    <p>
      <%= question.description %>
    </p>
    <% question.answers.each do |answer| %>
      <div class="col-sm-3">
        <%= form_for [answer, @vote], remote: true do |f| %>
          <%= image_tag(answer.image(:thumb)) %>
          <%= f.submit id: "vote-answer-#{answer.id}" %>
            <h5><%= answer.content %></h5>
            <h1 id=<%="answer-#{answer.id}-vote-count"%>><%= answer.vote_count %></h1>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-6">
      <%= form_for [question, @comment], remote: true do |f| %>
        <div class="input-group", id="comment-question-<%=question.id%>" >
          <%= f.text_field :content %>
          <span class="input-group-btn">
            <%= f.submit 'Comment' %>
          </span>
        </div>
      <% end %>
      <div id="comments-about-<%=question.id%>" class="comments">
        <%= render question.comments.order(created_at: :desc) %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_question_path(question), id: "edit-question-#{question.id}" %>
  </div>
</div>
